header{
    display: block;
    margin: 0 auto;
}
.rede-social {
    background-color: black;
    height: 50px;
}
.rede-social ul{
    text-align: right;
    color: white;
    margin-right: 40px;
    padding-top: 15px;
}
.rede-social ul li{
    display: inline;
    text-decoration: none;
    padding-left: 18px;
}
.info-header ul li{
    display: inline;
    text-decoration: none;
}
.info-header ul {
    float: right;
    margin-right:40px;
    padding-top: 40px;
}
.logo-esquerda {
    float: left;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    }
.info-header ul li{
    padding-left: 40px;
    color: #6c757d;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    }
.corpo{
    clear: both;
    text-align: center;
    background-color: #e9ecef;
}
#carouselExampleIndicators{
    box-shadow: 0px -3px 11px -1px rgba(0,0,0,0.7);
}